@charset "UTF-8";


html{
    background-color: ;
    color: #000;
    font-size: " 62.5%";
    font-family: Arial, Helvetica, sans-serif
}

img{
    width: 100%;
}

a{
    text-decoration: none;

}

a:hover{
    color: darkgrey;
}

a:visited{
    color: #000;
}

/*ヘッダー*/

header{
    text-align: center;
    letter-spacing: 2px;
   
    
}


header h1{
    margin-top: 70px;
    margin-bottom: 20px;
    color: #00a497;

}


/*メイン*/

main{
    display: flex;
    justify-content: center; 
    width: 100%;
    margin: 20px 
}

article{
    order: 2;
    width: 80%;
    padding: 50px;
    
}
    

/*できること*/







.can{
    margin-top: 0px;
}

.can h1{
    color: #bfba69
}

.can-01{
    
    margin-bottom: 50px;
    margin-right: 100px;
}

.can-02{
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 100px;
}

.can-03{
    margin-bottom: 0px;
    margin-right: 100px;
}

.icon{
    font-size: 7rem;
}

.can h2{
    font-size: 14pt;
    padding-top: -5px;
}
    

.can p{
    font-size: 12pt;
    margin-top: -10px;
}

.can-01 h2{
    color: #bf6c69;
}

.can-02 h2{
    color: #699abf;
}

hr{
    margin-top: 150px;
    text-align:left; 
    margin-left:0px;
    width: 80%;
    height: 1.5px;
    border: none;
    border-top: 1.5px #a9a9a9 dotted;
  }



/*作品*/





.web-01 h1{
    color: #699abf;
}

.grafic h2{
    padding: 1px 0 1px 10px;
    border-left: 6px solid #699abf;
    
}


.web img{
    margin-top: px;
    border: 1px  solid #a9a9a9;
    
}



.bannar{
    margin-top: 300px;
    display: flex;
    justify-content: left;
    
}

.bannar-item{
    display: block;
    margin-right:-30px;
}




table th{
   width: 100px;
   padding-right: 10px;
   padding-top: 5px;
   text-align: left;
   line-height: 2.5;
}



.grafic h1{
    margin-top: 100px;
    
}


.grafic-01 h1{
    color: #bf6c69
    
}

.grafic-01 h2{
    padding: 1px 0 1px 10px;
    border-left: 6px solid #bf6c69;
}




.grafic h4{
    font-size: 12pt;
    margin-top: -5px;
}

.grafic img{
    margin-top: 100px;
    width: 80%;
}




.catlog-02 img{
    border: 1px  solid #a9a9a9;
    margin-top: 200px;   
}
.catlog-03 img{
    border: 1px  solid #a9a9a9;
    margin-top: 10px;
    
}



.tag{
    display: flex;
    margin-top: 10px;
}

.illustrator{
    margin-right: 20px;
    text-align: center;
    padding: 3px 3px;
    background-color: #f39800;
    border-radius: 8px;
    width: 90px;
    height: 20px;
}

.photoshop{
    text-align: center;
    padding: 3px 3px;
    background-color: #89c3eb;
    border-radius: 8px;
    width: 100px;
    height: 20px;
}

.design{
    margin-right: 20px;
    text-align: center;
    padding: 3px 3px;
    background-color: #fff1cf;
    border-radius: 8px;
    width: 70px;
    height: 20px;
}

.coathing{
    margin-right: 20px;
    text-align: center;
    padding: 3px 3px;
    background-color: #fde8d0;
    border-radius: 8px;
    width: 85px;
    height: 20px;
}


.grafic-02{
    margin-top: 80px;
}

.grafic-02 a:link{
    color:  #bf6c69;
}

 main a:hover{
    color: darkgrey;
}






/*about me*/

.me{
    margin-top: 300px;
    padding: 0px;
}

.me img{
    width: 200px;
}

.me h2 {
    border-left: 6px solid #00a497;;
}
    color:#00a497;
}





/*帯*/
    
aside{
    display: block;
    position: sticky;
    top: 50px;
    width: 140px;
    height: 140px;
    
    order: 1;
    width: 20%;
    margin-top: 80px;
    padding-left: 40px;

    letter-spacing: 0.5px;
    
}

.nav-can a{
    color: #bfba69;
}

.nav-web a{
    color: #699abf;
}

.nav-grafic a{
     color: #bf6c69;
}

.nav-me a{
    color:#00a497;
}


/*fottor*/

footer{
    margin-top: 300px;
    padding-top: 10px;
    text-align: center;
    background-color: #00a497;
    height: 50px;
}





@media(max-width:700px){
    
    main{
        flex-direction: column;
        line-height: 2;
        margin: 0 auto;
        padding: 0 auto;
    }


    header{
        text-align: center;
        letter-spacing: 2px; 
    }  
    
    article{
        width: 80%; 
        font-size:0.5sem;
    }


    

    aside{
        width: 100%;  
        margin: 0;
        padding: 0;
        top: 0;

    }

    .nav{
        padding: 10px 0;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        opacity:1;
      
    }
    
    .nav-web a{
        margin-left: 30px;
    }
    
    .nav-grafic a{
        margin-left: 30px;
    }
    
    .nav-me a{
        margin-left: 30px;
    }

    .can{
        margin-top: -100px;
    }
    
    .can-01,.can-02,.can-03{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .can img{
        width: 40px;
    
    }

    hr{
        margin-top: 100px;
        text-align:center; 
        margin-left:0px;
        width: 100%;
        height: 1.5px;
        border: none;
        border-top: 1.5px #a9a9a9 dotted;
      }




      .web img ,.grafic h1,.poster img{
        margin-top: 100px;    
    }


    .grafic img{
        display: block;
       margin-top: 100px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 20px;
       
       
    }
    
    .grafic h2{
    
     font-size: 1.1rem
}
    
    table, td, th {
    border-bottom: 1px solid #a9a9a9;
}
    
    table td{
   line-height: 2;
}
    table {
    border-collapse: collapse;
}

 .catlog-02 img
 {
    margin-top: 150px;
}

    .catlog-03 img{
        margin-top: 5px;
    }

    .bannar{
        margin-top:50px;
        display: flex;
        justify-content: center;
    }

    .me{
        margin-top: 200px;
        padding: 0px;
    }
    
    footer{
        margin-top: 100px;
        padding-top: 0px;
        text-align: center;
        background-color: #00a497;
        height: 25px;
    }

    .bannar-item{
        display: block;
        margin-right:-10px;
        margin-left: -10px;
    }
    

    .me img{
        width: 150px;
    }

    .illustrator, .photoshop , .design , .coathing{
        height: 28px;
        
    }
  
}
